.social-login
  button.social-login--github
    span
      i.fab.fa-github &nbsp;
      |Countinue with Github
  button.social-login--facebook
    span
      i.fab.fa-facebook &nbsp;
      |Countinue with Facebook